project_id = "your-project-id"
region     = "us-central1"

# Credenciais do Kaggle (serão automaticamente configuradas no Secret Manager)
kaggle_email    = "your-email@example.com"
kaggle_password = "your-password"
